<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.learn"/>

    <mvc:annotation-driven></mvc:annotation-driven>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="WEB-INF/view/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--图片上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--防止中文乱码-->
        <property name="defaultEncoding" value="utf-8"/>
        <!--上传文件总大小-->
        <property name="maxUploadSize" value="1048576" />
        <!--上传单个文件大小-->
        <property name="maxUploadSizePerFile" value="1048576"/>
    </bean>


    <bean id="handlerExceptionResolver" class="com.learn.pojo.exception.CustomExceptionResolver"/>
    <!--处理静态资源访问问题,方式一-->
    <mvc:default-servlet-handler />
    <!--处理静态资源访问问题,方式二-->
    <mvc:resources mapping="/**" location="/WEB-INF" />

    <!--&lt;!&ndash;拦截器&ndash;&gt;
    <mvc:interceptors>
        &lt;!&ndash;拦截器1&ndash;&gt;
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="myInterceptor" class="com.learn.pojo.MyInterceptor"></bean>
        </mvc:interceptor>
        &lt;!&ndash;拦截器2&ndash;&gt;
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.learn.pojo.MyInterceptor2"></bean>
        </mvc:interceptor>
    </mvc:interceptors>-->

</beans>